body {
    font-family:'Amatic',cursive;
    background-color:#15a8a8;
    color:#fdffff;
    width:500px;
    margin: auto;
    margin-left: auto;
    text-align: center;
}
button {
    padding: 5px 20px;
    background-color:#326549;
    border-style: none;
    border-radius: 10%;
    color:rgb(253, 253, 253);
}
input {
    height: 29px;
    border-radius:10%;
    border-style: none;
}
.wf-kokoro { 
    font-family: "kokoro";
}
